<div class="row white center">
	<div class="col l8 m8 s10 offset-l2 offset-m2 offset-s1 center">
		<h1>Bem-vindos, treinadores!</h1>
		<img src="assets/img/Professor_Juniper.png" width="150px">
	</div>
	<div class="col l8 offset-l2">
		<div class="texto">
			<p>
				Vocês estão prestes a entrar no mundo Pokémon!
			</p>
			<p>
				Chegou a hora de escolher um pokémon para iniciar sua jornada cheia de aventuras! Viaje para novas regiões, descubra e capture pokémons e dominem suas técnicas de batalha.
			</p>
		</div>
		<h4>
			Explore, colete e batalhe agora!
		</h4>
	</div>
	<app-cadastro></app-cadastro>
</div>
