<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img src="assets/img/pokedex.png" width="140" height="auto"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/pokemons">Pokemons</a></li>
      <li routerLinkActive="active"><a routerLink="/berries">Berries</a></li>
      <li routerLinkActive="active"><a routerLink="/liga">Liga</a></li>
      <li routerLinkActive="active"><a routerLink="/trainer">Treinador</a></li>
    </ul>
  </div>
</nav>
