<!-- O que estiver nesse arquivo irá aparecer em todas as telas-->
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Muli:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<app-navbar></app-navbar>
		<router-outlet></router-outlet>
	</body>
</html>
